<div class="banner container">
  <div>
    <h2>Keep track of your movies with RailsWatchList.</h2>
  </div>
  <%= image_tag "banner3.png", alt: "banner img" %>
</div>
<div class="container list-card-container">
  <% @lists.each do |list| %>
    <%= link_to list_path(list.id) do %>
      <div class="card list-card" style="background-image: url(<%= cl_image_path list.picture.key %>);" >
        <h3><%= list.name %></h3>
        <% if list.movies.count == 1 %>
          <p>1 movie</p>
        <% elsif list.movies.count > 1 %>
          <p><%= list.movies.count %> movies</p>
        <% else %>
          <p>No movies yet</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
  <%= simple_form_for @list do |f| %>
    <%= f.input_field :name, placeholder: 'Add a list with a background', label: false, autocomplete: 'off' %>
    <%= f.input :picture, as: :file, label: false %>
    <%= f.submit '+' %>
  <% end %>
